# BEGIN WordPress
# Директиви (рядки) між `BEGIN WordPress` і `END WordPress`
# створені автоматично і підлягають змінам тільки через фільтри WordPress.
# Зміни зроблені вручну між цими маркерами будуть перезаписані.

<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /dist
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
# END WordPress
