@import "./fonts";
@import "./variables";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'SF UI Display Regular';
  color: $grayBlack

}

body.hidden {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1460px;
  margin: auto;
  padding: 0 10px;
}
