@font-face {
    font-family: 'SF UI Display Regular';
    src: url('./assets/fonts/sf_ui_display_regular.eot');
    src: url('./assets/fonts/sf_ui_display_regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/sf_ui_display_regular.woff2') format('woff2'),
    url('./assets/fonts/sf_ui_display_regular.woff') format('woff'),
    url('./assets/fonts/sf_ui_display_regular.ttf') format('truetype'),
    url('./assets/fonts/sf_ui_display_regular.svg#sf_ui_display_regular') format('svg');
}

@font-face {
    font-family: 'SF UI Display Bold';
    src: url('./assets/fonts/sf-ui-display-bold.otf');
    src: url('./assets/fonts/sf-ui-display-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SF UI Display Medium';
    src: url('./assets/fonts/SFUIDisplay-Medium.ttf');
    src: url('./assets/fonts/SFUIDisplay-Medium.ttf') format('truetype'),
    url('./assets/fonts/SFUIDisplay-Medium.woff2') format('woff2'),
    url('./assets/fonts/SFUIDisplay-Medium.woff') format('woff');
}
